.navbar{
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 25px;
}

.icons{
    padding-left : 10px;
}

.nav-links{
    list-style: none;
    display: flex;
    justify-content: center;
}